@import './mixins.scss';

.antd-button{
  @include antd-core-button-style;
  

    &--round {
      border-radius: 40px;
    }

    &--circle {
      border-radius: 100%;
    }

    &--small {
      height: 24px;
      padding: 0 7px;
      font-size: 14px;
      border-radius: 4px;
    }

    &--large {
      height: 40px;
      padding: 0 15px;
      font-size: 16px;
      border-radius: 4px;
    }

    &--primary {
      @include antd-button-colored($antd-theme-primary-colorset);
    }

    &--danger {        
      @include antd-button-colored('red');
    }

    &--link {
      box-shadow: 0;
      border: 0;
      @include antd-button-ink-color($antd-theme-primary);
    }

    &--dashed {
      border-style : dashed;
    }

    &--block {
      display: block;
    }

  &--wave-shadow-activation {
      #{$antd-button-wave-shadow-target} {
          display: block;
      }
    }
}