@import '../antd-theme/variables.scss';
@import '../antd-motion/mixins.scss';
@import '../antd-theme/function.scss';

$antd-button-wave-shadow-target: ".antd-button__wave-shadow";

.antd-button {
  overflow: visible;
  position: relative;
  background: $antd-theme-primary;
  color : #fff;
  box-shadow: 0 0 0 0 $antd-theme-primary;
  border: 1px solid $antd-theme-primary;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 14px;
  height: 32px;
  outline-color: initial;
  outline :0;
  transition : 0.2s;

  &:hover,
  &:focus {
    cursor: pointer;
    background: get-color($antd-theme-primary-colorset, 5);
  }
  &:active {
    background: get-color($antd-theme-primary-colorset, 7);
  }

  &--wave-shadow-activation {
    #{$antd-button-wave-shadow-target} {
      display: block;
    }
  }
}