@import '../antd-theme/variables.scss';

.antd-button {
  position: relative;
  color: $antd-theme-primary;
  box-shadow: 0 0 0 0 $antd-theme-primary;
  border: 1px solid $antd-theme-primary;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 14px;
  height: 32px;
  outline-color: initial;
  outline :0;

  &:hover {
    cursor: pointer;
  }
  .antd-button__wave-shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    border-radius: inherit;
    box-shadow: 0 0 0 0 $antd-theme-primary;
    opacity: 0.2;
    pointer-events: none;
  }
  
  @keyframes waveEffect {
    100% {
      box-shadow: 0 0 0 $antd-theme-primary;
      box-shadow: 0 0 0 $wave-animation-width $antd-theme-primary;
    }
  }
  
  @keyframes fadeEffect {
    100% {
      opacity: 0;
    }
  }
}