div.ant-modal__mask{
  display: absolute;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
  background-color: rgba(0,0,0,.32);
  z-index: -1;
  width:100%;
  height:100%;
  box-sizing: border-box;
}

.ant-modal__container{
  max-width: 560px;
  min-width: 280px;
  position: relative;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  background:#fff;
  padding: 32px 32px 24px;
}

.ant-modal__container:after{
  content:'';
  display:block;
  clear:both;
}
.ant-modal__title{
  font-size:16px;
  color:rgba(0,0,0,0.85);
  font-weight: 500;
}

.ant-modal__content{
  font-size:14px;
  color:rgba(0,0,0,0.65);
}

.ant-modal__actions{
  margin-top:24px;
  float:right;
}