@import '../antd-theme/function.scss';

.ant-select{
  position: relative;
  margin:0;
  padding:0;
  box-sizing: border-box;;
}

.ant-select__label {
  display: inline-block;
  border : 1px solid #d9d9d9;
  border-radius: 2px;
  width:100%;
  height:32px;
  vertical-align: middle;
}

.ant-select__selected-text{
  color:rgba(0,0,0,0.65);
  font-size:14px;
}

.ant-select__search{
  display:none;
}

.ant-select__label__dropdown-icon{
  width:12px;
  height:12px;
}
