@import './function.scss';

$ant-theme-primary-colorset : "blue";
$ant-theme-primary: get-color($ant-theme-primary-colorset, 6);
$ant-theme-on-primary : get-color($ant-theme-primary-colorset, 5);
$ant-theme-text: get-color('grey', 8);
$wave-animation-width: 6px;